{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = '' %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}
{% set defaultOgImage = site.url + '/img/tile-background.jpg' %}
{% if images and images.thumb and images.thumb | length > 6 %}
  {% set ogImage = site.url + images.thumb %}
{% else %}
  {% set ogImage = defaultOgImage %}
{% endif %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ pageTitle  }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<meta name="description" content="{% if metaDesc %}{{ metaDesc }}{% elif description %}{{ description }}{% else %}{{ site.shortDesc }}{% endif %}" />
<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />
<meta property="og:description" content="{% if metaDesc %}{{ metaDesc }}{% elif description %}{{ description }}{% else %}{{ site.shortDesc }}{% endif %}" />
<meta property="og:image" content="{{ ogImage }}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@seaotta" />
<meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.shortDesc }}{% endif %}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:image" content="{{ ogImage }}" />
<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />

<meta name="ir-site-verification-token" content="-248335178">
