{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = '' %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ pageTitle  }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<meta name="image" property="og:image" content="{{ ogImage | url | absoluteUrl(build.url) }}" />
<meta name="description" property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

{% if socialImage %}  
  <meta property="og:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@seaotta" />
<meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:url" content="{{ site.url}}{{ page.url }}">
<meta name="twitter:image" content="{{ ogImage | url | absoluteUrl(build.url) }}" />

<meta name='ir-site-verification-token' value='-248335178'>