---
layout: layouts/base.njk
tags:
  - nav
navtitle: All Links
title: All Links
permalink: /links/
---

<div class="container intro">
    <h1>All My Links</h1>
    <h2>I dabble in so many different things, here's an index of where I'm at and what I'm working on.</h2>
</div>


<h2>Fashion & Lifestyle</h2>
<ul>
    <li><a href="https://thehermeshomestead.com" target="_blank">The Hermes Homestead Blog</a></li>
    <li><a href="https://www.shopltk.com/explore/seaotta" target="_blank">Shop My Style on LTK</a></li>
<ul>

<h2>Socials</h2>

<ul>
    <li><a href="https://instagram.com/seaotta">General Instagram</a></li>
    <li><a href="https://instagram.com/seaotta_photography">Photography Instagram</a></li>
    <li><a href="https://www.tiktok.com/@seaotta__">TikTok</a></li>

