<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "global/meta.njk" %}
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/njd7atr.css">
    <link rel="icon" href="https://stephaniestimac.com/imgs/favicon.ico" type="image/png">
  </head>
  <body>
    <header>
      <div class="container header-alignment">
        <p class="h1-small"><a href="https://blog.stephaniestimac.com/">{{ metadata.title }}</a></p>
        <nav>
          <ul class="nav">
            <li class="nav-item"><a href="https://blog.stephaniestimac.com/">Blog Home</a></li>
            <li class="nav-item"><a href="https://stephaniestimac.com/">Portfolio</a></li>
            <li class="nav-item"><a href="https://www.manning.com/books/design-for-developers?utm_source=stimac&utm_medium=affiliate&utm_campaign=book_stimac_design_4_19_22&a_aid=stimac&a_bid=5f6ba095">Design for Developers</a></li>
            <li class="nav-item"><a href="https://www.amazon.com/shop/seaotta/list/1LP5CKOAW0CIY?ref_=aip_sf_list_spv_ons_mixed_d">Developer Shirts</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!--
    <div class="container hero">
        <p class="header-subhead">{{ metadata.description }}</p>
        <div class="hero-image"></div>
    </div>
    -->
    <div class="container intro">
      <h1>Latest on the blog</h1>
      <h2>I write about the web, design, product management and little bits of life</h2>
    </div>
    <div class="container grid--home">
        <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
            {{ content | safe }}
        </main>
        <div class="sidebar">
          <div class="sidebar-book">
            <a href="https://www.manning.com/books/design-for-developers?utm_source=stimac&utm_medium=affiliate&utm_campaign=book_stimac_design_4_19_22&a_aid=stimac&a_bid=5f6ba095"><img src="https://blog.stephaniestimac.com/img/designfordevelopers.png" alt="Book cover for Design for Developers" /></a>
            <p class="book-cta"><a href="https://www.manning.com/books/design-for-developers?utm_source=stimac&utm_medium=affiliate&utm_campaign=book_stimac_design_4_19_22&a_aid=stimac&a_bid=5f6ba095">Improve your design skills today!</a></p>
          </div>
          <div class="carbon-ads">
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7ICKQM&placement=stephaniestimaccom" id="_carbonads_js"></script>
          </div>
          <div class="amazon-ads">
            <img src="/img/serious-about-coding.jpeg" />
            <div class="amazon-flex">
              <a href="https://amzn.to/45g1tH3">Amazon US</a> |
              <a href="https://www.amazon.co.uk/dp/B0CJBYHYJ3">UK</a> |
              <a href="https://rstyle.me/+MT3M_ZvOkaoDMi325LybRQ">Etsy</a>
          </div>
          <div class="lingoda-ads">
            <a href="https://click.linksynergy.com/fs-bin/click?id=mxT*/kzNfx0&offerid=1330841.20&subid=0&type=4"><IMG border="0"   alt="Lingoda" src="https://ad.linksynergy.com/fs-bin/show?id=mxT*/kzNfx0&bids=1330841.20&subid=0&type=4&gridnum=5"></a>
          </div>
      </div>
    </div>

    <!-- Current page: {{ page.url | url }} -->

    <footer class="container">
      <div class="affiliate">Affiliate Link Notice: Links to Amazon and other products are affiliate links. I may receive a small commission at no cost to you. This helps fund the cost for my site.</div>
      <div class="copyright">&copy; 2023. Stephanie Stimac - All rights reserved.</div>
    </footer>
  </body>
</html>
