---
layout: layouts/base.njk
templateClass: tmpl-home
description: The technical and design blog of Stephanie Stimac covering product, web platform and design
---

    <div class="intro">
      <h1>Latest on the blog</h1>
      <h2>I write about the web, design, product management and little bits of life</h2>
    </div>


{{ content | safe }}
