---
layout: layouts/base.njk
templateClass: tmpl-post
---

<style>
.hero {display:none;}
</style>

<div class="blog-post">
<h1>{{ title }}</h1>

{{ content | safe }}

</div>

<p><a href="{{ '/' | url }}">← Home</a></p>

