---
layout: layouts/base.njk
templateClass: tmpl-post
---

<style>
.intro {display:none;}
.blog-hero {
    background-image: url('{{ heroBackground }}');
}
</style>

<main{% if templateClass %} class="{{ templateClass }} container"{% endif %}>

<div class="blog-hero" style="--vt: post-{{ page.url | slugify }};">
    <h1>{{ title }}</h1>
</div>
<div class="post-info">
    <div class="blog-post__date">
        <p>Published on</p>
        <p>{{ page.date | readableDate }}</p> 
    </div>
    <div class="blog-post__tags">
        <p>Tags</p>
        {% for tag in tags %}
            {%- if tag != "posts" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}
    </div>
</div>

<div class="blog-post">

{{ content | safe }}

</div>

<div class="post-back"><a href="{{ '/' | url }}">← Home</a></div>
 </main>
